<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .btn {
          background-color: white;
          padding: 3px 3px;
          font-size: 12px;
          border-radius: 0.5rem;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Jinja2 syntax (the template engine that flask uses)
        Create a block in the template
        and the block is where we will 
        insert code on all pages that
        inherit this template --> 
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>