{% extends 'base.html'%}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<!-- Create tables for the tasks-->
<div class="kanban-board">
    <div class="kanban-block" id = 'EDIT'>
        <strong class="kanban-column-heading-text">
            Edit Task
        </strong>
        <div class="form">
            <form action="/update/{{ task.id }}" method="POST">
                <!-- Populate the existing task that is to be updated-->
                <input type="text" name="content" id="content" value="{{ task.content }}">
                <input type="submit" value="Save Edit">
            </form>
        </div>
    </div>
</div>
    
{% endblock %}